/*------------------------------------------------------------------
  	[Company]
------------------------------------------------------------------*/
.company {
	@media (min-width: $screen-sm-min) {
		&-img-container {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			width: 100%;
			.img {
				width: 75%;
			}
		}
	}
}