/*------------------------------------------------------------------
  	[Faq3]
------------------------------------------------------------------*/
.what-used-for {
	.box-container {
		display: flex;
		flex-wrap: wrap;
	}
	.service-faq3 {
		background: $color-sky-light;
		padding: 30px;	
		.service-element {
			@include font($size:convertPxToRem(45px));
			color: $color-beneficios-item;
		}
		.service-element-faq3,
		.service-info-faq3 {
			@include translate3d(0, 0, 0);
			@include cubic-transition($delay: 0, $duration: 300ms, $property: (all));
		}
	
		&:hover {
			.service-element-faq3 {
				opacity: 100%;
				@include translate3d(0, -10%, 0);
			}
	
			.service-info-faq3 {
				@include translate3d(0, -10%, 0);
			}
		}
	}
}