/*------------------------------------------------------------------
  	[requirementsSGE]
------------------------------------------------------------------*/
.requirementsSGE {
	&-card {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		.img-container {
			width:100%;
			.img {
				width:75%;
			}
		}
	}
}