/*------------------------------------------------------------------
  	[Service]
------------------------------------------------------------------*/
.servicios {
	article {
		&.article {
			border-radius: 5px;
			overflow: hidden;
			background-color: white;
		}
	}
}